<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.coachme"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Push Also -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	<permission android:protectionLevel="signature"
    android:name="com.example.coachme.permission.C2D_MESSAGE" />
	<uses-permission android:name="com.example.coachme.permission.C2D_MESSAGE" />
	
    <application
        android:name="com.example.coachme.parseInit"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.coachme.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coachme.MainActivity"
            android:label="Main Sports Screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.coachme.TrainingFilterActivity"
            android:label="@string/title_activity_training_filter"
            android:parentActivityName="com.example.coachme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coachme.MainActivity" />
        </activity>
        <activity
            android:name="com.example.coachme.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.example.coachme.LoginActivity"
            android:label="Login Screen"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="com.example.coachme.Content"
            android:label="@string/title_activity_content"
            android:parentActivityName="com.example.coachme.TrainingFilterActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coachme.TrainingFilterActivity" />
        </activity>
        <activity
            android:name="com.example.coachme.CreateAccount"
            android:label="Create an Account Screen"
            android:parentActivityName="com.example.coachme.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.coachme.MainActivity" />
        </activity>
        <activity
            android:name="com.example.coachme.AccSettings"
            android:label="@string/title_activity_acc_settings" >
        </activity>

        <!-- About activity -->
        <activity
            android:name="com.example.coachme.About"
            android:label="About Screen" >
        </activity>

        <!-- Recover Lost Password activity -->
        <activity
            android:name="com.example.coachme.RecoverLostPassword"
            android:label="Recover Lost Password" >
        </activity>

        <!-- Video activity -->
        <activity
            android:name="com.example.coachme.Video"
            android:label="Video Screen" >
        </activity>

        <!-- Favorites activity -->
        <activity
            android:name="com.example.coachme.Favorites"
            android:label="@string/title_activity_favorites" >
        </activity>

        <!-- Help activity -->
        <activity
            android:name="com.example.coachme.Help"
            android:label="Help Screen" >
        </activity>

        <!-- Coach activity -->
        <activity
            android:name="com.example.coachme.Coach"
            android:label="Team Settings Screen" >
        </activity>
        <activity
            android:name="com.example.coachme.PushResponse"
            android:label="@string/title_activity_push_response" >
        </activity>
        <!-- Start of Push -->
		<service android:name="com.parse.PushService" />
		<receiver android:name="com.parse.ParseBroadcastReceiver">
		  <intent-filter>
		    <action android:name="android.intent.action.BOOT_COMPLETED" />
		    <action android:name="android.intent.action.USER_PRESENT" />
		  </intent-filter>
		</receiver>
		<receiver android:name="com.parse.GcmBroadcastReceiver"
		    android:permission="com.google.android.c2dm.permission.SEND">
		  <intent-filter>
		    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
		    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
		 
		    <!--
		      IMPORTANT: Change "com.parse.tutorials.pushnotifications" to match your app's package name.
		    -->
		    <category android:name="com.example.coachme" />
		  </intent-filter>
		</receiver>
	<!-- End of Push -->
    </application>

</manifest>
